.first-box-container {
    width: 200px;
    height: 100px;
    background-color: red;
    /* padding-top: 5px; */
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 10px solid;
    border-color: green;   
    line-height: 60px;
    
    ;
    
}
  
.second-box-container {
    width: 200px;
    height: 100px;
    background-color: yellow;
    left: 250px;
    top:15px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 10px solid;
    line-height: 60px;
    border-color: red;
}
  
.third-box-container {
    width: 200px;
    height: 100px;
    background-color: green;
    left: 500px;
    top: 15px; 
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 10px solid;
    line-height: 60px;
    border-color: yellow;
}

body {
    margin: 0 auto;
    max-width: 50em;
  }